body{
    background-color: #F2F3F5;
}

.whole{
    display: flex;
    flex-direction: row;
    padding: 0px 200px;
}

.content{
    margin: 150px
}

.facebook{
    color: #0866ff;
    font-size: 50px;
}

.explain{
    font-size: 20px;
    font-weight: normal;
}

.idpw{
    border-radius: 8px;
    width: 300px; height: 270px;
    box-shadow: 0px 5px 5px lightgrey;
    text-align: center;
    padding: 10px;
    background-color: white;
    margin-top: 130px;
}

.login>input{
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    width: 270px;
    margin-bottom: 10px;
}

.button1{
    border-radius: 5px;
    width: 290px;
    padding: 8px;
    background-color: #0866ff;
    color: white;
    font-weight: bold;
    border: none;
}

.button2{
    border-radius: 5px;
    font-size: 13px;
    padding: 10px;
    background-color: #42b72a;
    color: white;
    font-weight: bold; 
    text-decoration: none;
}

.forget>a{
    text-decoration: none;
    color: #0866ff;
    font-weight: bold;
}

.page{
    font-weight: normal;
    text-align: center;
}

.page>a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.friend-footer * {
    display: revert; 
    flex-direction: revert;
    align-items: revert;
    margin: revert;
    background-color: white; 
    color: rgb(126, 125, 125);
    font-size: 11px;
}
.footer{
    width: 980px;
    margin: 40px;

}

.directionList{
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    margin: 0;
}
.directionList > li{
    margin: 5px;
}

.languageList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    margin: 0;
}
.languageList > li{
    margin: 5px;
}
.footer{
    background-color: white;
    color: rgb(126, 125, 125);
    width: 980px;
    margin: 0px auto;
    font-size: 11px;

}

.directionList{
    background-color: white;
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    margin: 0;
}
.directionList > li{
    background-color: white;
    margin: 5px;
}
.directionList > li > a{
    background-color: white;
    color: rgb(126, 125, 125);
    text-decoration: none;
}

.languageList{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    margin: 0;
}
.languageList > li{
    background-color: white;
    margin: 5px;
}
.mvlcopyright{
    background-color: white;
    text-align: center;
}
.copyright{
    background-color: white;
}
._41ug{
    flex-direction: row;
}