.box{
    background-color: pink;
    width: 350px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}
.title{
    border: solid 2px white;
    border-radius: 20px;
    height: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}
.reje{
    margin-bottom: 20px;
}
.text{
    margin-bottom: 20px;
}
.subbox{
    background-color: lightskyblue;
    border-radius: 10px;
    height: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px;
    margin-bottom: 10px;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}