.box{
    border-radius: 10px;
    text-align: center;
    width: 300px;
    height: 230px;
    padding: 40px;
    box-shadow: 0px 5px 5px red;
}
.title{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}
.inputbox{
    border: solid 1px gray;
    border-radius: 10px;
    height: 30px;
    margin-top: 15px;
    padding: 5px;
    padding-left: 10px;
}
.button{
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    width: 70px;
    padding: 5px;
    
}
.text{
    margin-bottom: 20px;
}